    <table class="footer">
        <tr>
            <td class="footer">Original Design by <a target="_blank" href="https://mikepierce.github.io/conference-website-template/">Mike Pierce</a></td> 
            <td class="footer">&copy; (F)ASAL De Facto Steering Committee</td> 
        </tr>
    </table>
