<div class="banner">
  <img src="assets/banner.jpg" alt="FASAL">
  <div class="top-left">
    <span class="title1">FASAL</span><span class="title2">-12</span> <span class="year">2022</span>
  </div>
  <div class="bottom-right">
    Sometime in Spring 2022.... <br> University of Utah, Salt Lake City
  </div>
</div>
