    <table class="navigation">
        <tr>
            <td class="navigation">
                <a class="current" title="Conference Home Page" href="../index.html">Home</a>
            </td>
            <td class="navigation">
                <a title="Register for the Conference" href="../registration">Registration</a>
            </td>
            <td class="navigation">
                <a title="Conference Program" href="../program">Program</a> 
            </td>
            <td class="navigation">
                <a title="Directions to the Conference" href="../directions">Directions</a>
            </td>
            <td class="navigation">
              <a title="Conference Flyer" href="../flyer">Flyer</a>
            </td>
        </tr>
    </table>


